body {
  margin: 0;
  background: #1e1e1e;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

/* MAIN LAYOUT */
.app {
  display: flex;
  height: 100vh;
}

/* PANELS */
.panel {
  padding: 10px;
  background: #252526;
  overflow: hidden;
}

.left {
  width: 260px;
}

.right {
  width: 260px;
}

.center {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* RESIZER */
.resizer {
  width: 4px;
  background: #333;
  cursor: ew-resize;
}

.resizer:hover {
  background: #007acc;
}

/* VIEWER */
.viewer {
  flex: 1;
  position: relative;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CANVAS */
#overlay {
  position: absolute;
}

/* TIMELINE */
.timeline {
  height: 80px;
  background: #111;
  border-top: 1px solid #333;
  position: relative;
}

.timeline-bar {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #007acc;
  top: 50%;
  transform: translateY(-50%);
}

/* BUTTONS */
button {
  width: 100%;
  margin-bottom: 6px;
  padding: 6px;
  background: #0e639c;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1177bb;
}

/* INPUTS */
input {
  width: 100%;
  margin-bottom: 6px;
  padding: 4px;
  background: #1e1e1e;
  border: 1px solid #555;
  color: white;
}

/* PREVIEW */
#preview {
  width: 100%;
  height: 120px;
  border: 1px solid #444;
  background: black;
}

/* QC */
pre {
  font-size: 11px;
  background: #1e1e1e;
  padding: 6px;
  border: 1px solid #444;
}
